body {
	font-size: 10pt;
	font-family: 'Open Sans',Verdana, Helvetica, sans-serif;
	width: 1330px;
	margin:10px;
}

header {
	margin-bottom: 15px;
	padding: 3px;
	border-top: 1px solid #0a13ff;
	border-bottom: 1px solid #0a13ff;
	background-color: rgba(39, 97, 255, 0.27);
	text-align: center;
}

article {
	border-bottom: solid 3px black;
	margin-bottom: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 2px;
	padding-right: 2px;
}

section {
	padding: 20px;
	margin-bottom: 15px;
	vertical-align: top;
	border-bottom: dashed 1px gray;
	border-bottom-right-radius: 15px;
	border-top: dashed 1px gray;
	border-top-left-radius: 15px;
}

img {
	height: 250px;
	display:block;
	margin:0 auto;
	text-align:center;
}
section.home {
	padding: 2px;
	vertical-align: top;
	border: 0 ;
	font-size: 11pt;
}
h2.home{
	text-align: center;
}


.visualizzazioni {
	background-color: rgb(238, 238, 238);
	border: dotted #0a13ff 1px;
	font-family: sans-serif;
	padding: 15px 15px 5px 15px;
}

ul.navi {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgba(39, 97, 255, 0.27);
}

li.navi {
	float: left;
}

li a.navi {
	display: block;
	color: black;
	text-align: center;
	padding: 10px 5px;
	margin: 0 5px;
	text-decoration: none;
	font-size: 14.395px;
}

li a.navi1 {
	display: block;
	color: black;
	text-align: center;
	padding: 10px 5px 10px 10px;
	margin: 0 5px 0 0;
	text-decoration: none;
	font-size: 14.395px;
}
li a.navi5 {
	display: block;
	color: black;
	text-align: center;
	padding: 10px 10px 10px 5px;
	margin: 0 0 0 5px;
	text-decoration: none;
	font-size: 14.395px;
}

li a.navib {
	display: block;
	color: black;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	font-size: 14.395px;
	background-color: rgba(39, 97, 255, 0.52);
}

li a.navi1:hover {
	background-color: rgba(39, 97, 255, 0.52);
}

li a.navi5:hover {
	background-color: rgba(39, 97, 255, 0.52);
}

li a.navi:hover{
	background-color: rgba(39, 97, 255, 0.52);
}

.contenitoreMappe4 {
	width: 1255px;
	height: 535px;
	background-color: white
}

.titoloContenitoreMappe4{
	text-align: center;
	color:#2d2d2d ;
	font-size: 22px ;
	font-family:'Open Sans',sans-serif ;
	margin-top: 0;
	padding-top: 30px;
	padding-bottom: 30px;
}

.contenitoreMappa4{
	float: left;
	margin-left: 30px;
}

.titoloContenitoreMappa4{
	text-align: center;
	color:#2d2d2d ;
	font-size: 18px ;
	font-family:'Open Sans',sans-serif;
}

.ultimoContenitoreMappa4{
	float: left;
	margin-left: 30px;
	margin-right: 30px;
}

.contenitoreBoxs4 {
	width: 1255px;
	height: 538px;
	background-color: white;
	margin-bottom: 5px;
}

.titoloContenitoreBoxs4{
	text-align: center;
	color:#2d2d2d ;
	font-size: 22px ;
	font-family:'Open Sans',sans-serif ;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 30px;
	padding-bottom: 0;
}

.contenitoreBox4a{
	float: left;
}

.contenitoreBox4{
	float: left;
	margin-left: 30px;
}

.titoloContenitoreBox4{
	text-align: center;
	color:#2d2d2d ;
	font-size: 18px ;
	font-family:'Open Sans',sans-serif;
	margin-left:54px;
	margin-bottom: 0;
}

.ultimoContenitoreBox4{
	float: left;
	margin-left: 30px;
	margin-right:30px;
	margin-top: 150px;
	height: 150px;
	width: 215px;
}

.leg1{
	list-style-image: url("Immagini/1.bmp");
}
.leg2{
	list-style-image: url("Immagini/2.bmp");
}
.leg3{
	list-style-image: url("Immagini/3.bmp");
}
.leg4{
	list-style-image: url("Immagini/4.bmp");
}

.annotazione{
	margin: 0;
	padding: 0;
}

.contenitoreMappe5 {
	width: 1255px;
	height: 485px;
	background-color: white
}

.titoloContenitoreMappe5{
	text-align: center;
	color:#2d2d2d ;
	font-size: 22px ;
	font-family:'Open Sans',sans-serif ;
	margin-top: 0;
	padding-top: 30px;
	padding-bottom: 30px;
}

.contenitoreMappa5{
	float: left;
	margin-left: 24px;
}

.titoloContenitoreMappa5{
	text-align: center;
	color:#2d2d2d ;
	font-size: 18px ;
	font-family:'Open Sans',sans-serif;
}

.ultimoContenitoreMappa5{
	float: left;
	margin-left: 24px;
	margin-right: 24px;
}

.contenitoreBoxs5 {
	width: 1255px;
	height: 537px;
	background-color: white;
	margin-bottom: 5px;
}

.titoloContenitoreBoxs5{
	text-align: center;
	color:#2d2d2d ;
	font-size: 22px ;
	font-family:'Open Sans',sans-serif ;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 30px;
	padding-bottom: 0;
}

.contenitoreBox5a{
	float: left;
}
.contenitoreBox5{
	float: left;
	margin-left: 25px;
}

.titoloContenitoreBox5a{
	text-align: center;
	color:#2d2d2d ;
	font-size: 18px ;
	font-family:'Open Sans',sans-serif;
	margin-left:35px;
	margin-bottom: 0;
	width: 175px;
	float:left;
}
.titoloContenitoreBox5b{
	text-align: center;
	color:#2d2d2d ;
	font-size: 18px ;
	font-family:'Open Sans',sans-serif;
	margin-left:25px;
	margin-bottom: 0;
	width: 185px;
	float:left;
}

.ultimoContenitoreBox5{
	float: left;
	margin-left: 20px;
	margin-right:0;
	margin-top: 150px;
	height: 260px;
	width: 205px;
}

